<div class="content-background-color">

</div>

<div class="container">
	<div class="content">

		<div class="row justify-content-center">
			<div class="content-box col-9">
			
				<h1><%= @user.username %></h1>	

				<p><a href="/users/<%= @user.id %>/questions">View all my questions</a></p>
				<p><a href="/users/<%= @user.id %>/answers">View all my answers</a></p>
				
			</div>
		</div>


	</div>
</div>