<div class="modal fade" id="post-question-modal" tabindex="-1" role="dialog" aria-labelledby="post-question-title" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="post-question-title">Ask Quora</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<form action="/questions" method="POST">
				<div class="modal-body">
					<div class="form-group">
						<input type="text" class="form-control" name="question-title" placeholder="Question Title">
					</div>

					<div class="form-group">
						<textarea rows="5" class="form-control" name="question-description" placeholder="Enter question here"></textarea>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn std-btn">Post</button>
				</div>

			</form>

		</div>
	</div>
</div>

<div class="content-background-color">

</div>

<div class="container">
	<div class="content">

		<div class="row justify-content-center">
			<div class="content-box col-9">

				<a href="#" data-toggle="modal" data-target="#post-question-modal">Ask Quora</a>
				
				<br>
				<br>

				<% @all_questions.each do |elm| %>
				<p><b><%= "#{elm.user.username}" %></b></p>
				<a href="/questions/<%= elm.id %>"><p><em><%= "#{elm.title}" %></em></p></a>
				<p><%= "#{elm.description}" %></p>
				<% end %>

			</div>
		</div>


	</div>
</div>














